name: Deploy Data Lake AWS
on:
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.13.4
      - name: Configure AWS (OIDC)    # usa rol, sin guardar claves
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Terraform Init
        working-directory: ./terraform
        run: terraform init -reconfigure
      - name: Terraform Apply
        working-directory: ./terraform
        run: terraform apply -auto-approve
